*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace !important;
  
}

.App{
  display: flex;
  flex-direction: column;
}


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 15vh;
}

h1{
  padding-left: 2rem;
}

h2{
  text-align: center;
}

.innertitles{
  text-align: center;
  color: rgb(75, 149, 197);

}

.aboutus{
  height: 85vh;
  background-image: url("/src/img/solarpanel.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  

}


.aboutusdescription{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  padding: 30px;
  color: aliceblue;
  background-color: rgba(22, 41, 56, 0.6);
  width: 50%;
  
}
.contacto{
  font-size: xx-large;
  text-align: center;
  padding: 2rem;
  height: 85vh;
  line-height: 5rem;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cardcontainer{
  position: relative;
  display: block;
  height:85vh

}

.cardcontainer >img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.cardtext{
  position:absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgb(22, 86, 135);
  width: 80%;
  padding: 15px;
}

.cardsection{
  display: flex;
}


