*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;

  
}

.App{
  display: flex;
  flex-direction: column;
}
section{
  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
}

h1{
  padding-left: 2rem;
}

h2{
  text-align: center;
}

.innertitles{
  text-align: center;
  color: rgb(75, 149, 197);

}

.aboutus{
  height: 85vh;
  background-image: url("/src/img/contactbackground.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  

}


.aboutusdescription{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  color: aliceblue;
  background-color: rgba(1, 8, 14, 0.6);
  width: 50%;
  height: 85vh;
  
}
.contacto{
  font-size: xx-large;
  color: #fff;
  text-align: center;
  padding: 2rem;
  height: 85vh;
  line-height: 5rem;
  background-image: url(/src/img/backgroundpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cardcontainer{
  position: relative;
  display: block;
  height:100vh

}

.cardcontainer >img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.cardtext{
  position:absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgb(3, 23, 39);
  width: 80%;
  padding: 15px;
}

.cardsection{
  display: flex;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  background-color:rgb(255, 255, 255);  
  z-index: 1000; /* Adjust the z-index as needed */
}
.carouselview{
  height: 100vh;
}


